node_modules/
dist/
server/uploads/*
!server/uploads/.gitkeep
server/submissions/*
!server/submissions/.gitkeep
server/output/gcode/*
!server/output/gcode/.gitkeep
server/data/*
!server/data/.gitkeep
.env

.DS_Store
outputs/
work/
